<!DOCTYPE html>
<html lang="en">


<head>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
   
   
    <meta charset="utf-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script>
        $(document).on("ready", function() { setActiveStyleSheet('purple'); });
    </script>

    <!-- Template CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/preloader.min.css" rel="stylesheet">
    <link href="css/circle.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/fm.revealator.jquery.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- CSS Skin File -->
    <link href="css/skins/purple.css" rel="stylesheet">

    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="blue" href="css/skins/blue.css" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="css/skins/green.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellow" href="css/skins/yellow.css" />
    <link rel="alternate stylesheet" type="text/css" title="blueviolet" href="css/skins/blueviolet.css" />
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="css/skins/goldenrod.css" />
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="css/skins/magenta.css" />
    <link rel="alternate stylesheet" type="text/css" title="orange" href="css/skins/orange.css" />
    <link rel="alternate stylesheet" type="text/css" title="purple" href="css/skins/purple.css" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="css/skins/red.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="css/skins/yellowgreen.css" />

    <!-- Modernizr JS File -->
    <script src="js/modernizr.custom.js"></script>

    <script>
    // When the user scrolls the page, execute myFunction 
    window.onscroll = function() {myFunction()};

    function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
    }
    </script>



</head>

<body class="about">
<div class="header2">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  
</div>
<!-- Header Starts -->
<header class="header" id="navbar-collapse-toggle">
    <!-- Fixed Navigation Starts -->
    <ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1">
        <li class="icon-box">
            <i class="fa fa-home"></i>
            <a href="index.html">
                <h2>Home</h2>
            </a>
        </li>
        <li class="icon-box active">
            <i class="fa fa-user"></i>
            <a href="about.html">
                <h2>About</h2>
            </a>
        </li>
        <li class="icon-box">
            <i class="fa fa-wrench"></i>
            <a href="portfolio.html">
                <h2>Projects</h2>
            </a>
        </li>
    </ul>
    <!-- Fixed Navigation Ends -->
    <!-- Mobile Menu Starts -->
    <nav role="navigation" class="d-block d-lg-none">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="list-unstyled" id="menu">
                <li><a href="index.html"><i class="fa fa-home"></i><span>Home</span></a></li>
                <li class="active"><a href="about.html"><i class="fa fa-user"></i><span>About</span></a></li>
                <li><a href="portfolio.html"><i class="fa fa-wrench"></i><span>Projects</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Menu Ends -->
</header>
<!-- Header Ends -->
<!-- Page Title Starts -->
<!--    <h1>ABOUT <span>ME</span></h1> -->
<!--    <span class="title-bg">About me</span> -->
<div class="parallax_aboutme"></div>


<div style="height: 0%; width: 100%; text-align: center;">
    <span id="topTitle">About me</span> 
</div>


<div class="parallax_aboutme"></div>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1" style="margin-top: 2%;">
    <div class="container">
<div class="col-12">
                    </div>
                    <div class="col-20 text-center">
                        <p>
                            I’m a Cybersecurity student and my passion is IT security and Software Engineering.
                            I am also a self-learner, and I like to keep up with this field by staying updated and discovering new things.
                            I currently live in Rome (Italy) and I'm getting my Master Degree in Cybersecurity @ Sapienza University of Rome. 
                        </p>     
                    </div>
                   
                    <div class="col-20 mt-3 text-center">
                        <a href="cv/CV_Carlo_Cannarsa_en_site.pdf" class="btn btn-download">Download CV (EN)</a>
                        <a href="cv/CV_Carlo_Cannarsa_it_site.pdf" class="btn btn-download">Download CV (IT)</a>
                    </div>
        <div class="row">
            <!-- Personal Info Starts -->
            <div class="col-12 col-lg-5 col-xl-6">
                <div class="row">
                    
                </div>
            </div>
            <!-- Personal Info Ends -->
        </div>
        <hr class="separator">
        <!-- Experience & Education Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">Experience <span>&</span> Education</h3>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">Summer 2020</span>
                            <h5 class="poppins-font text-uppercase">Full-stack Developer <span class="place open-sans-font">AFA Systems</span></h5>
                            <p class="open-sans-font">
                                - Project management and development<br>
                                &emsp;▪ PHP (frontend, backend)<br>
                                &emsp;▪ Responsive dashboard to check online active users & access rules<br>
                                - SQL Database management<br>
                                &emsp;▪ Query time optimization, cutting up to half of the initial query<br>&emsp;&ensp;time of the company<br>
                                &emsp;▪ Linux environment
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">October 2020 - January 2023</span>
                            <h5 class="poppins-font text-uppercase">Cybersecurity MSc Degree<h6 class="text-secondary">@ SAPIENZA UNIVERSITY OF ROME</h6></h5>
                            <p class="open-sans-font">▪ Thesis: <i>Developing automated mechanisms to efficiently combat malware evasions using Dynamic Binary Instrumentation approach <br>&emsp;&ensp;</i></p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">September 2016 - March 2020</span>
                            <h5 class="poppins-font text-uppercase">Computer Engineering Bachelor's Degree<br><h6 class="text-secondary">@ ALMA MATER STUDIORUM BOLOGNA</h6></h5>
                            <p class="open-sans-font">▪ Thesis: <i>A Python software library for dataset generation based on<br>&emsp;&ensp;linear models</i></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Experience & Education Ends -->

        <hr class="separator">

        <div class="col-12">
            <h3 class="text-uppercase text-warning pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">skills</h3>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">PENETRATION<span class="d-block">TESTING</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">MALWARE<span class="d-block">ANALYSIS</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">REVERSE<span class="d-block">ENGINEERING</span></p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row row-margin-05">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">ADVANCED<span class="d-block">SHELL SCRIPTING</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">LINUX<span class="d-block">SYSTEM ADMINISTRATION</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">NETWORK DESIGN<span class="d-block">& TROUBLESHOOTING</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">MAINTAINABLE<span class="d-block">SOFTWARE DESIGN</span></p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row row-margin-05">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">PPT PRESENTATIONS</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">FAST LEARNER</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">LATEX</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Boxes Ends -->

         <hr class="separator">

        <div class="col-12">
            <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">tools & frameworks used</h3>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">IDA</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">OPNSENSE</p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row row-margin-05">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">WIRESHARK</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">CISCO PACKET TRACER</p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row row-margin-05">
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">Flask<span class="d-block">(PYTHON)</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">HYBERNATE<span class="d-block">(JAVA ENTERPRISE)</span></p>
                    </div>
                </div>
                <div class="col">
                    <div class="box-stats">
                        <p class="open-sans-font m-0 position-relative text-uppercase">YII2<span class="d-block">(PHP)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boxes Ends -->

        <hr class="separator">

        <!-- Skills Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">known programming languages</h3>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p90">
                    <span>90%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">C/C++</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p80">
                    <span>90%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">python</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p80">
                    <span>90%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">JAVA</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p90">
                    <span>85%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">bash</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p85">
                    <span>85%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
            </div>

            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p85">
                    <span>85%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">C#</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p80">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">assembly</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p70">
                    <span>70%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">Javascript</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p50">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">kotlin</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p40">
                    <span>40%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">perl</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p30">
                    <span>30%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">ruby</h6>
            </div>
        </div>
        <!-- Skills Ends -->
        
        <hr class="separator">
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">OTHER</h3>
            </div>
        </div>
        <div class="row row-margin-05">
            <div class="col">
                <div class="box-stats">
                    <p class="open-sans-font m-0 position-relative text-uppercase">ITALIAN NATIVE SPEAKER</p>
                </div>
            </div>
            <div class="col">
                <div class="box-stats">
                    <p class="open-sans-font m-0 position-relative text-uppercase">ENGLISH B2 LEVEL</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Main Content Ends -->

<!-- Template JS Files -->
<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/styleswitcher.js"></script>
<script src="js/preloader.min.js"></script>
<script src="js/fm.revealator.jquery.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpGridGallery.js"></script>
<script src="js/jquery.hoverdir.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>

</body>


</html>
